.hero {
  position: relative;
  background-image: url(../images/header-bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 500px;
  height: calc(100vh - 57px);
  text-align: center;
  box-sizing: border-box;

  .hero-layout {
    display: table;
    height: 100%;
    width: 100%;
  }

  .hero-center {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }

  h1 {
    font-size: 55px;
    line-height: 55px;
    max-width: 290px;
    margin: auto;
    margin-bottom: 0;
    font-family: 'MuseoSans-900', sans-serif;
    color: $red;
    opacity: 0;
    margin-bottom: 20px;
  }

  &.animate-in {
    h1 {
      opacity: 1;

      @include prefixed(transition-duration, 1.8s);

      @include prefixed(transition-delay, 1s);

      @include prefixed(transition-property, opacity);
    }

    .down-btn {
      bottom: 20px;
      opacity: 1;

      @include prefixed(transition-duration, 1s);

      @include prefixed(transition-delay, 2s);

      @include prefixed(transition-property, all);
    }
  }

  h2 {
    display: none;
  }

  .down-btn {
    display: block;
    font-size: 20px;
    letter-spacing: 2px;
    width: 160px;
    height: 70px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -80px;
    color: white;
    text-decoration: none;
    opacity: 0;

    svg {
      margin-top: 20px;
      width: 30px;
      height: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    height: 780px;

    .home-logo {
      display: none;
    }

    h1 {
      font-size: 100px;
      line-height: 90px;
      height: auto;
      width: 100%;
      max-width: none;
      margin-bottom: 30px;
    }

    h2 {
      display: block;
      margin-top: 17px;
      font-size: 24px;
      opacity: 0;

      @include prefixed(transition-duration, 0.5s);

      @include prefixed(transition-property, opacity);
    }
  }

  @media screen and (min-width: $desktopsmall) {
    height: 540px;

    h1 {
      margin-bottom: 50px;
    }
  }

  @media screen and (min-width: $desktopwide) {
    height: 700px;
  }

  @media screen and (min-width: $desktopsuper) {
    height: 800px;
  }
}

.no-touch {
  .hero {
    @media screen and (min-width: $desktopsmall) {
      height: calc(100vh - 57px);
    }
  }
}

.no-js {
  .hero {
    h1 {
      opacity: 1;
    }

    .down-btn {
      bottom: 20px;
      opacity: 1;
    }
  }

  .text-panel {
    opacity: 1;
  }

  .video-panel .panel-text,
  .video-panel .video-image {
    opacity: 1;
  }
}

.play-btn {
  display: none;
  width: 36px;
  height: 36px;
  margin: auto;
  margin-top: 6px;

  @include prefixed(transition-property, opacity);

  @include prefixed(transition-duration, 0.5s);

  &.mobile-only {
    display: block;
  }

  @media screen and (min-width: $tablet) {
    width: 90px;
    height: 90px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -45px;
    margin-top: -45px;
    opacity: 0;

    &.mobile-only {
      display: none;
    }
  }
}

.text-panel {
  display: block;
  text-align: center;
  padding: 80px 40px;
  position: relative;

  h2 {
    font-size: 22px;
    line-height: 42px;
    opacity: 1;
    
    strong {
      font-weight: 900;
      color: #dd2e23;
    }
  }

  @media screen and (min-width: $tablet) {
    padding: 184px 40px;
  }
}

.video-panel {
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 20px;

  .wrapper {
    position: relative;
    height: 100%;
    max-width: 1140px;
    margin: auto;

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  .panel-text {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 960px;
    z-index: 10;
    text-align: center;
    left: 0;
    text-decoration: none;

    .panel-text-holder {
      display: table;
      height: 100%;
      margin: auto;
      text-decoration: none;
    }

    .text-center {
      display: table-cell;
      vertical-align: middle;
      cursor: pointer;
    }
  }

  h3 {
    color: $red;
    font-size: 36px;
    line-height: 40px;
    max-width: 300px;
    margin: auto;
    font-family: 'MuseoSans-900', sans-serif;
    letter-spacing: 4px;
    text-decoration: none;
    text-align: center;
  }

  .end-game h3 {
    text-align: left;
  }

  h4 {
    font-size: 14px;
    line-height: 18px;
    max-width: 300px;
    margin: auto;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
  }

  h5 {
    font-size: 13px;
    line-height: 18px;
    max-width: 300px;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    color: rgba(255, 255, 255, 0.5);
  }

  .video-image {
    position: relative;
    z-index: 9;
    margin: auto;
    display: block;
    max-width: 760px;
    cursor: pointer;
    opacity: 1;

    @include prefixed(transition-property, opacity);

    @include prefixed(transition-duration, 0.2s);

    img {
      max-width: 100%;
      display: block;
    }
  }

  &:hover {
    .play-btn {
      opacity: 1;
    }
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    padding-bottom: 60px;

    .panel-text {
      opacity: 0;

      @include prefixed(transition-delay, 0.4s);

      @include prefixed(transition-duration, 0.5s);

      @include prefixed(transition-property, opacity);
    }

    .video-image {
      opacity: 0;

      @include prefixed(transition-duration, 0.8s);

      @include prefixed(transition-property, all);

      top: 100px;
    }

    &.active {
      .video-image,
      .panel-text {
        opacity: 1;
        top: 0;
      }
    }

    &.left-panel {
      .video-image {
        left: 0;
        float: left;
      }

      .panel-text-holder {
        margin-right: 5%;
      }
    }

    &.right-panel {
      .video-image {
        right: 0;
        float: right;
      }

      .panel-text-holder {
        margin-left: 5%;

        h4 {
          text-align: right;
        }
      }
    }

    h3 {
      font-size: 60px;
      line-height: 58px;
      max-width: 300px;
      margin: auto;
      text-align: right;
    }

    h4 {
      font-size: 20px;
      line-height: 34px;
      max-width: 300px;
      margin: auto;
    }

    h5 {
      &.fear {
        text-align: right;
      }
    }

    .panel-text {
      text-align: left;
    }

    .video-image {
      right: 0;
      float: right;

      @include prefixed(transition-duration, 0.4s);
    }

    &.video-panel {
      padding-bottom: 120px;
    }
  }

  @media screen and (min-width: $desktopsmall) {
    .panel-text-holder {
      width: 270px;
    }

    &.left-panel {
      .panel-text-holder {
        margin-right: 2%;

        &.end-game {
          margin-right: 5%;
        }
      }
    }

    &.right-panel {
      .panel-text-holder {
        margin-left: 23.5%;
      }
    }

    h3 {
      font-size: 80px;
      line-height: 72px;
    }
  }
}

.modern-slavery {
  border-top: 1px solid $greyborder;
  border-bottom: 1px solid $greyborder;
  padding-top: 80px;
  padding-bottom: 100px;
  background: $offblack;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
  background: url('../images/wirewax_background_low_drk.jpg') top center no-repeat;

  h2 {
    font-size: 20px;
    line-height: 44px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 25px;
  }

  h1 {
    color: $red;
    font-size: 48px;
    line-height: 52px;
    font-family: 'MuseoSans-900', sans-serif;
    letter-spacing: 4px;
  }

  .trailer-link {
    text-transform: uppercase;
    background: $red;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 14px;
    padding: 14px 18px;

    @include prefixed(transition-duration, 0.3s);

    @include prefixed(transition-property, background color);

    &:hover {
      background: white;
      color: $red;
    }
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 100px;
    margin-top: 100px;
    padding-top: 120px;
    padding-bottom: 140px;

    h1 {
      font-size: 55px;
    }
  }
}