$darkgrey: #181818;
$bodygrey: #14181a;

$green: #3DF2B4;
$cookiegrey: #2b2b2b;
$headergrey: #242424;
$termsgrey: #666666;
$greyborder: #333333;
$lightgrey: #bbbbbb;
$socialgrey: #a3a3a3;

$greyborder: #262e32;
$red: #dd2e23;
$offblack: #070f13;


$mobile: 360px;
$mobilelarge: 480px;
$tablet: 768px;
$tabletlarge: 860px;
$desktopsmall: 960px;
$desktop: 1200px;
$desktoplarge: 1400px;
$desktopwide: 1600px;
$desktopsuper: 1800px;
